:root{
  --color1: #003f5c;
  --color2: #444e86;
  --color3: #955196;
  --color4: #dd5182;
  --color5: #ff6e54;
  --color6: #ffa600;
  --primary: #5A9F4D;
  --secondary: #694D9F;
  --tertiary: #9F4D83;
  --primary-text: #A46AEF;
}

::-webkit-scrollbar{
    width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media (prefers-color-scheme: dark){
    body{
    background-color: #1d1e22;
    color: #f2f2f2;
    font-size: 14pt;
    }

    #news-feed{
        background-color: #2e3036;
    }

    .news-item{
        background-color: #2e3036
    }
    .news-item-link{
        background-color: rgba(0,0,0,0);
    }
}


p.date{
    /* font-size: 12pt; */
    color: #C2C2C2;
    margin-bottom: 8px;
    font-weight: bold;
}

p.news{
    /* font-size: 12pt; */
    color: #F2F2F2;
    margin-bottom: 0px;
}

a:link {
    color: var(--primary);
}

a:visited{
    color: var(--primary-text);
}

.list-quick-links {
    font-size: 16px;
}

.list-quick-links a:link{
    color: #FAFAFA;
}

.list-quick-links a:visited{
    color: #FAFAFA;
}
.list-quick-links i{
    margin-right: 4pt;
}

.active{
  background-color: #444e86;
}

.news-links{
    /* font-size: 16px; */
    color: #F2F2F2;
    margin-bottom: 0px;
}

.news-links a{
    /* font-size: 14px; */
    color: #FAFAFA;
}

.news-feed{
    max-height: 800px;
    overflow: auto;
}

.social-link{
    margin: 4px;
}

a {
    transition: 0.2s;
    text-decoration: none;
}
a:hover{
    opacity: 0.5;
}

.btn-primary, .btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

.bgPrimary {
    background-color: var(--primary);
}

.profile-image img{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    border-color: #555;
}

.list-links a{
    color: #F2F2F2;
}

.list-tags {
    font-size: 1.1em;
}

@media (prefers-color-scheme: light){
    body{
    background-color: #f2f2f2;
    color: #1d1e22;
    font-size: 14pt;
    }
    p.date{
        /* font-size: 12pt; */
        color: #414141;
        margin-bottom: 8px;
        font-weight: bold;
    }
    p.news{
        /* font-size: 12pt; */
        color: #272727;
        margin-bottom: 0px;
    }
    .list-quick-links a:link{
        color: #272727;
    }
    .news-links{
        /* font-size: 16px; */
        color: #272727;
        margin-bottom: 0px;
    }
    
    .news-links a{
        /* font-size: 14px; */
        color: #272727;
    }
    .list-links a{
        color: #272727;
    }
}