:root{
  --color1: #003f5c;
  --color2: #444e86;
  --color3: #955196;
  --color4: #dd5182;
  --color5: #ff6e54;
  --color6: #ffa600;
}

::-webkit-scrollbar{
    width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


body{
  background-color: #2c2f33;
  color: #f2f2f2;
  font-size: 16px;
}

p.date{
    font-size: 16px;
    color: #C2C2C2;
    margin-bottom: 8px;
    font-weight: bold;
}

p.news{
    font-size: 16px;
    color: #F2F2F2;
    margin-bottom: 0px;
}

a:link {
    color: #dba204;
}

a:visited{
    color: #456ff7;
}

.list-quick-links {
    font-size: 16px;
}

.list-quick-links a:link{
    color: #FAFAFA;
}

.list-quick-links a:visited{
    color: #FAFAFA;
}
.list-quick-links i{
    margin-right: 4pt;
}

.active{
  background-color: #444e86;
}

.content-page p{
    font-size: 16px;
}

.news-links{
    font-size: 16px;
    color: #F2F2F2;
    margin-bottom: 0px;
}

.news-links a{
    font-size: 14px;
    color: #FAFAFA;
}

.news-feed-container{
}

.news-feed{
    max-height: 800px;
    overflow: auto;
}

.social-link{
    margin: 4px;
}
