:root{
  --color1: #003f5c;
  --color2: #444e86;
  --color3: #955196;
  --color4: #dd5182;
  --color5: #ff6e54;
  --color6: #ffa600;
}


body{
  color: #f2f2f2;
  font-size: 16px;
}

.bg-dark{
    background-color: #444444;
}

a:link {
    color: #456ff7;
}

a:visited{
    color: #955196;
}

.list-quick-links {
    font-size: 16px;
}

.list-quick-links a:link{
    color: #FAFaFA;
}

.list-quick-links a:visited{
    color: #FAFAFA;
}

.active{
  background-color: #444e86;
}

.container{
  padding-top: 4px;
}