    .dark-mode{
        background-color: #000000;
        color: #F5F5F5;
    }

    .bg-dark: a{
        color: #892cdc;
    }

    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      padding: 90px 0 0;
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
      z-index: 99;
    }

    @media (max-width: 767.98px) {
      .sidebar {
        top: 11.5rem;
        padding: 0;
      }
    }

    .navbar {
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
    }

    .login-container{
        background-color: inherit;
        color: inherit;
        padding: 10px;
    }

    .card{
        background-color: inherit;
        color: inherit;
    }

    @media (min-width: 767.98px) {
      .navbar {
        top: 0;
        position: sticky;
        z-index: 999;
      }
    }

    .sidebar .nav-link {
      color: inherit;
    }

    .sidebar .nav-link.active {
      color: #892cdc;
    }

    .navbar-brand{
        color: inherit;
    }

    .bg-dark .alert-danger{
        background-color: rgba(200, 150, 150, 1.0);
    }
    .bg-dark .alert-warning{
        background-color: rgba(200, 200, 150, 1.0);
    }

    .ct-series-a .ct-line{
        stroke: green;
        stroke-width: 1px;
    }

    .bg-dark .ct-series-a .ct-line{
        stroke: #00FF00;
        stroke-width: 1px;
    }

    .bg-dark .ct-series-b .ct-line{
        stroke: #FF0000;
        stroke-width: 1px;
    }


    .ct-series-a .ct-area{
        fill: green;
    }

    .ct-series-b .ct-area
    {
        fill: #FF0000;
    }

    .bg-dark .ct-series-a .ct-area{
        fill: #00FF00;
    }

    .ct-label{
        color: inherit;
    }

    .table{
        color: inherit;
    }

    .value-cell
    {
        text-align: right;
        vertical-align: middle;
    }

    .database-cell{
        text-align: left;
        vertical-align: middle;
    }

    .nela-header{
        text-align: center;
    }

    .btn-sort{
        margin-left: 4px;
    }

    .btn-clear{
        background-color: rgba(0,0,0,0);
        border: 0;
        padding: 0;
        font-size: 100%;
    }

    .activity-chart{
        max-width: 200px;
        padding: 0px;
    }
