
p{
    margin: 0px;
}

.section-title{
    margin-bottom: 8px;
}

.section-data{

}

.item-years{

}

.item-header{
    font-weight: bold;
    margin-right: 4px;
}

.item-school{
    font-weight: bold;
    margin-right: 4px;
}

.item-country{
    vertical-align: bottom;
    font-size: small;
}

.description-field{
    margin-bottom: 0px;
}

.description-row{
    margin-bottom: 4px;
    padding-left: 20px;
}

.cv-header{
    margin-bottom: 8px;
    font-size: 18pt;
}